# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Tokens / Credentials
# =========================
token.json
tokens/
tokens/*

# =========================
# Carpeta puntual de archivos 
# =========================
mercantil/models/data/
mercantil/models/data/*
mercantil/models/data/*.json

rus/models/data/
rus/models/data/*
rus/models/data/*.json

fedpat/models/data/
fedpat/models/data/*
fedpat/models/data/*.json


# =========================
# Build
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# test JSONs
# =========================
*.json

# =========================
# test excels
# =========================
*.xlsx
